@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/utilities';

@import './base/typography';
@import './base/base';
@import './base/bootstrap';

@import './layout/navbar';
@import './layout/form';
@import './layout/section';
@import './layout/footer';

@import './pages/index';
@import './pages/blog';
@import './pages/nosotros';