.image__container {
    margin-bottom: 2rem;
    position: relative;
    img {
        object-fit: cover;
        object-position: bottom;
        border-radius: $radius;
        @include size( 200px, 100%);
        @include responsive( tablet ) {
            height: 250px;
        }
        @include responsive( desktop ) {
            height: 350px;
        }        
    }
}
.image__text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2rem;
}